.slideList {
    width: 385px;
    height: 100%;
    background: #F2FFFA;
    border: 1px solid #000000;
}

.slideList__container {
    padding-top: 24px;
}

.slideList__container__text {
    font: 400 16px/1.25 'Montserrat';
    color: #000;
    padding-left: 39px;
    position: relative;
    top: 54px;
}