.slideList {
    position: relative;
    width: 385px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: #F2FFFA;
    border: 1px solid #000000;
}

.slideList__container {
    position: relative;
    right: 13px;
    padding-top: 18px;
    max-height: 1185px;
    overflow-y: auto;
    direction: rtl;
}

.slideList__container__text {
    font: 400 16px/1.25 'Montserrat';
    color: #000;
    margin-right: 20px;
    position: relative;
    top: 54px;
}