.toolbar {
    width: 100%;
    height: 101px;
    background: #F2FFFA;
    border-top: 1px solid #737373;
    border-bottom: 1px solid #737373;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toolbar__slideButtons {
    padding-left: 39px;
}

.toolbar__blockFunctions
{
    display: flex;
    align-items: center;
}
.toolbar__slideButtons__addButton {
    background: linear-gradient(94.98deg, rgba(0, 255, 25, 0.7) 10.5%, rgba(36, 255, 0, 0.7) 94.21%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 45px;
    padding: 7px 20px;
    border: none;
    line-height: 50%;
    box-sizing: border-box;
    cursor: pointer;
}

.toolbar__slideButtons__addButton__text {
    position: relative;
    bottom: 16px;
    padding-left: 10px;
    font: 700 16px/1.25 'Bold Montserrat';
    color: #000;
}

.toolbar__slideButtons__deleteButton {
    background: linear-gradient(143.75deg, rgba(255, 0, 0, 0.8) 7.05%, rgba(255, 61, 0, 0.8) 95.77%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 21px;
    padding: 8px 7px 7px 8px;
    border: none;
    margin-left: 40px;
    cursor: pointer;
}

.toolbar__blockFunctions__dividingLine {
    padding-right: 20px;
}

.toolbar__blockFunctions__button {
    border: none;
    background: none;
    cursor: pointer;
}

.toolbar__blockFunctions__button:nth-last-child(n + 2) {
    padding-right: 34px;
}

.toolbar__slideShow {
    padding-right: 39px;
}

.toolbar__slideShowButton {
    display: flex;
    border:none;
    background: linear-gradient(94.98deg, rgba(0, 255, 209, 0.5) 10.5%, rgba(0, 133, 255, 0.5) 94.21%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 45px;
    padding: 10px 35px 9px 18px;
    align-items: center;
    cursor: pointer;
}

.toolbar__slideShowButton__text {
    font: 700 16px/1.25 'Bold Montserrat';
    padding-left: 18px;
}

.toolbar__blockFunctions__primitiveButton{
    border: none;
    background: none;
    cursor: pointer;
}

.toolbar__blockFunctions__backgroundButton{
    border: none;
    background: none;
    cursor: pointer;
}

.toolbar__blockFunctions__expand{
    vertical-align: super;
    padding-right: 20px;
    border: none;
    background: none;
    cursor: pointer;
}

.toolbar__blockFunction__editFontFamily{
    border: 1px solid #BBBBBB;
    vertical-align: bottom;
    font: 400 16px/1.25 'Arial';
    text-align: center;
    width: 94px;
    height: 36px;
    background-color: #F2FFFA;
    cursor: pointer; 
}


.toolbar__blockFunctions__textSize_decrement{
    border: none;
    background: none;
    vertical-align: bottom;
    padding: 3px 0px 0px 20px;
    cursor: pointer;
}
.toolbar__blockFunctions__textSize_increment {
    border: none;
    background: none;
    vertical-align: bottom;
    padding: 3px 0px 0px 0px;
    cursor: pointer;
}

.toolbar__blockFunction__editFontSize{
    background-color: #F2FFFA;
    vertical-align: bottom;
    text-align: center;
    border: 1px solid #BBBBBB;
    font: 400 16px/1.25 'Montserrat';
    font-size: 16px;
    width: 76px;
    height: 33px;
}

.toolbar__blockFunctions__textColor{
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    background: none;
    cursor: pointer;
}

.toolbar__blockFunctions__primitiveColor{
    border: none;
    background: none;
    padding-right: 20px;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
