.slide {
    display: flex;
    flex-direction: row;
    margin-top: 22px;
}

.slide__index {
    padding-right: 8px;
}

.slide__container {
    width: 253px;
    height: 147px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 24px;
}